CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_ESP_CONSOLE_NONE=y
CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_CDC_COUNT=1
CONFIG_TINYUSB_CDC_RX_BUFSIZE=512
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="Tan Studio"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="Tan USB Role Probe"
CONFIG_TINYUSB_DESC_SERIAL_STRING="role-probe"
